<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "Product_Site_Name", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right list-style-none list-inline">
        <li><%= link_to "Logout", destroy_customer_session_path, :method => :delete %></li>
        <li><%= link_to "My Store", root_path %></li>
        <li class="cart-text"><%= render 'layouts/cart_text' %></li>
      </ul>
    </nav>
  </div>
</header>
