<div class="text-center">
  <h1>Your Cart</h1>
</div>
<div class="well">
  <% @cart.order_items.each do |order_item| %>
  <div class="row">
      <h4><%= order_item.product.name %></h4>
      <p>Quantity:<%= order_item.quantity %></p>
      <p>Price:<%= number_to_currency order_item.total_price %></p>
  </div>
  <% end %>
  <h4>Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
</div>
