<% @products.each_slice(4) do |row| %>
<div class="row">
  <% row.each do |product| %>
  <div class="container col-sm-3" id="item">
    <div class="thumbnail">
      <%= image_tag(product.photo, class: "img-responsive img-thumbnail", alt: "Photo") %>
    <div class="caption">
      <h4><%= product.name %></h4>
      <h4>Price:<%= number_to_currency product.price %></h4>
      <div>
        <%= link_to "Add to Cart", order_items_path(product_id: product.id), method: :post %>
      </div>
    </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
