<% if customer_signed_in? %>
  <%=render partial: 'shared/logout' %>
<% else %>
  <%= render partial: 'shared/signin' %>
<% end %>

<h3 class="text-center">Products for Sale</h3>
<br>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
